.leftMenu {
  width: 300px;
  padding: 20px;
  background-color: #f3f3f3;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0 5px;
}

.profile p {
  font-size: 16px;
  color: #666;
}

.section {
  margin: 20px 0;
}

.section h4 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.section p {
  font-size: 16px;
  margin: 5px 0;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #36C965;
  border: none;
  border-radius: 5px;
  color: #333;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #61D187;
}

.socialMedia {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.socialMedia a img {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.socialMedia a:hover img {
  filter: grayscale(0%);
}

.leftMenuHr {
  width: 70%;
  margin: auto;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
