.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* Ensures even spacing between items */
  align-items: stretch;
  /* Stretch items to the full height of the container */
}

.centerContainer {
  flex: 1;
  /* Take up remaining space between LeftMenu and RightMenu */
  display: flex;
  flex-direction: column;
  /* Stack children vertically */
  /* padding: 20px; */
  /* Padding around the center container */
}
